.service-card-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of cards */
    justify-content: center; /* Center the cards */
    margin: 0 -10px; /* Adjust margins for proper spacing */
}

.service-card-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    max-width: 250px; /* Adjusted for no images */
    margin: 30px; /* Spacing between cards */
    padding: 20px; /* Added padding for content */
    position: relative;
    height: 280px;
}

.service-card-home:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.service-content {
    text-align: center;
}

.service-icon {
    font-size: 40px;
    color: #1e90ff;
    margin-bottom: 10px;
}

.service-content h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0; /* Adjusted margin */
    color: #333;
}

.service-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.learn-more-btn {
    position:relative;
    background: linear-gradient(135deg, #87ceeb, #1e90ff);
    width: 70%;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute; /* Position relative to the card */
    bottom: 25px; /* Fixed distance from the bottom of the card */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
}

.learn-more-btn:hover {
    background: linear-gradient(135deg, #1e90ff, #87ceeb);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -2px);
}