/* Reset some default styles */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
height: 100%;
}

body {
display: flex;
/* background-color: #f3f4f6; Fallback background color */
background-color: #FDF7E4; 
background-image: url('https://e1.pxfuel.com/desktop-wallpaper/581/154/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg');
background-size: cover;
background-position: center;
margin: 0;
align-items: center;
justify-content: center;
}

.container {
background-color:#FDF7E4;
height: 70%;
width: 60%;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
display: flex;
overflow: hidden;
position: absolute;
left: 50%;
right: 50%;
transform: translate(-50%, -50%);
}

.register-container {
display: flex;
width: 100%;
}

.image {
width: 50%;
background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp');
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

.info {
width: 50%;
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #ffffff;
}

.heading {
text-align: center;
width: 100%;
display: block;
margin-bottom: 30px;
font-size: 24px;
color: #333;
font-weight: bold;
}

.input {
width: 100%;
display: block;
font-size: 16px;
background-color: #f0f0f0;
height: 45px;
color: #666;
border-radius: 25px;
padding: 0 20px 0 50px;
margin-bottom: 20px;
border: none;
outline: none;
position: relative;
}

input {
outline: none;
border: none;
}

.validate-input {
position: relative;
width: 100%;
}

.validate-input .fa {
font-size: 20px;
position: absolute;
top: 50%;
left: 15px;
transform: translateY(-50%);
color: #666;
}

.signup-btn {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.btn {
width: 100%;
height: 45px;
border-radius: 25px;
background: #57b846;
color: #fff;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 200ms;
cursor: pointer;
}

.btn:hover {
background-color: #45a03e;
}

button {
outline: none;
border: none;
}

